body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
    font-family: Arial;
}

#container {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background: rgb(163,234,251);
    background: radial-gradient(circle, rgba(163,234,251,1) 0%, rgba(65,194,227,1) 69%);
}

.placeholder {
    display: flex;
    height: fill;
    width: fill;
    border-radius: 20px;
    background: rgb(163,234,251, 0.5);
    transition: .1s;
    overflow: hidden;
    text-align: center;
    font-size: 100px;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
}

.placeholder:hover {
    background: rgb(163,234,251, 1);
    transform: scale(1.05);
    transition: 0.1s;
}

.red{
    color: red;
}

.blue{
    color:blue
}