body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
    font-family: Arial;
}

#container {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background: rgb(163,234,251);
    background: radial-gradient(circle, rgba(163,234,251,1) 0%, rgba(65,194,227,1) 69%);
}

#game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 50%;
    transition: 0.4s;
    filter: opacity(0);
    pointer-events: none;
}

.game-over-tog {
    filter: opacity(1);
    pointer-events: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 50%;
    transition: 0.4s;
}

#play-again {
    position: relative;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, .7);
    font-size: medium;
}

#play-again:hover {
    color: rgba(255, 255, 255, 1);
}
.placeholder {
    display: flex;
    height: fill;
    width: fill;
    border-radius: 20px;
    background: rgb(163,234,251, 0.5);
    transition: .1s;
    overflow: hidden;
    text-align: center;
    font-size: 100px;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
}

.placeholder:hover {
    background: rgb(163,234,251, 1);
    transform: scale(1.05);
    transition: 0.1s;
}

.red{
    color: red;
}

.blue{
    color:blue
}